<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.datasource">java:jboss/renad</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="com/mimp/bean/Familia.hbm.xml"/>
    <mapping resource="com/mimp/bean/Designacion.hbm.xml"/>
    <mapping resource="com/mimp/bean/AsistenciaFR.hbm.xml"/>
    <mapping resource="com/mimp/bean/Car.hbm.xml"/>
    <mapping resource="com/mimp/bean/Sesion.hbm.xml"/>
    <mapping resource="com/mimp/bean/Adoptante.hbm.xml"/>
    <mapping resource="com/mimp/bean/Solicitante.hbm.xml"/>
    <mapping resource="com/mimp/bean/EstudioCaso.hbm.xml"/>
    <mapping resource="com/mimp/bean/Reunion.hbm.xml"/>
    <mapping resource="com/mimp/bean/Resolucion.hbm.xml"/>
    <mapping resource="com/mimp/bean/Juzgado.hbm.xml"/>
    <mapping resource="com/mimp/bean/Turno2.hbm.xml"/>
    <mapping resource="com/mimp/bean/AsistenciaFT.hbm.xml"/>
    <mapping resource="com/mimp/bean/ExpedienteNna.hbm.xml"/>
    <mapping resource="com/mimp/bean/Asistente.hbm.xml"/>
    <mapping resource="com/mimp/bean/Grupo.hbm.xml"/>
    <mapping resource="com/mimp/bean/ExpedienteFamilia.hbm.xml"/>
    <mapping resource="com/mimp/bean/InformePostAdoptivo.hbm.xml"/>
    <mapping resource="com/mimp/bean/Unidad.hbm.xml"/>
    <mapping resource="com/mimp/bean/Prioritario.hbm.xml"/>
    <mapping resource="com/mimp/bean/Residente.hbm.xml"/>
    <mapping resource="com/mimp/bean/FormularioSesion.hbm.xml"/>
    <mapping resource="com/mimp/bean/Representante.hbm.xml"/>
    <mapping resource="com/mimp/bean/Hijo.hbm.xml"/>
    <mapping resource="com/mimp/bean/Turno.hbm.xml"/>
    <mapping resource="com/mimp/bean/Entidad.hbm.xml"/>
    <mapping resource="com/mimp/bean/EvalLegal.hbm.xml"/>
    <mapping resource="com/mimp/bean/InfoFamilia.hbm.xml"/>
    <mapping resource="com/mimp/bean/HijoAct.hbm.xml"/>
    <mapping resource="com/mimp/bean/Taller.hbm.xml"/>
    <mapping resource="com/mimp/bean/Evaluacion.hbm.xml"/>
    <mapping resource="com/mimp/bean/FichaSolicitudAdopcion.hbm.xml"/>
    <mapping resource="com/mimp/bean/Atencion.hbm.xml"/>
    <mapping resource="com/mimp/bean/Log.hbm.xml"/>
    <mapping resource="com/mimp/bean/Autoridad.hbm.xml"/>
    <mapping resource="com/mimp/bean/PostAdopcion.hbm.xml"/>
    <mapping resource="com/mimp/bean/ResidenteAct.hbm.xml"/>
    <mapping resource="com/mimp/bean/Nna.hbm.xml"/>
    <mapping resource="com/mimp/bean/Personal.hbm.xml"/>
    <mapping resource="com/mimp/bean/Organismo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
